puppet/modules/*
!puppet/modules/.gitkeep
puppet/Puppetfile.lock
puppet/.librarian
puppet/.tmp
puppet/.vagrant
chef/cookbooks
chef/.vagrant
ansible/.vagrant
chef-linux/.kitchen
Berksfile.lock
Gemfile.lock
