puppet/modules/*
!puppet/modules/.gitkeep
puppet/Puppetfile.lock
puppet/.librarian
puppet/.tmp
puppet/.vagrant
ansible/.vagrant
chef-linux/.kitchen
chef-windows/.kitchen
ansible-linux/.kitchen
ansible-windows/.kitchen
Berksfile.lock
Gemfile.lock
